*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
google-services.json
GoogleService-Info.plist
iosApp/iosApp/GoogleService-Info.plist
composeApp/google-services.json
composeApp/GoogleService-Info.plist
composeApp/google-services.json
yetimatchkeystoredata
keystore.properties
*.keystore
yetimatch-5a0f9904a9ef.json
